{% extends "base.html" %}

{% block title %}Day {{ exercise }}{% endblock %} 

{% block header %}{{ result['lead'] }}{% endblock %} 

{% block lead %}Day {{ exercise }}{% endblock %} 

{% block content %}
<div id="content">
    <p class="lead">
        <h5>{{ exercise }}A: {{ result['a'] }}</h5>
        <h5>{{ exercise }}B: {{ result['b'] }}</h5>
        <a href="/" class="btn btn-dark">Back</a>
    </p>
</div>
{% endblock %}
