{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="card-deck">
  <div class="card border-dark mb-3" style="max-width: 18rem; min-width: 18rem; ">
    <div class="card-header">Day 1</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Sonar Sweep</h5>
      <p class="card-text">Figuring out if the depth of the submarine increases</p>
      <a href="/exercise/1" class="btn btn-dark stretched-link">Go to Solution</a>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 18rem; min-width: 18rem;">
    <div class="card-header">Day 2</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Dive!</h5>
      <p class="card-text">Now we need to figure out how to pilot this thing</p>
      <a href="/exercise/2" class="btn btn-dark stretched-link">Go to Solution</a>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 18rem; min-width: 18rem;">
    <div class="card-header">Day 3</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Binary Diagnostic</h5>
      <p class="card-text">The submarine has been making some odd creaking noises</p>
      <a href="/exercise/3" class="btn btn-dark stretched-link">Go to Solution</a>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 18rem; min-width: 18rem;">
    <div class="card-header">Day 4</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Giant Squid</h5>
      <p class="card-text">Maybe it wants to play bingo?</p>
      <a href="/exercise/4" class="btn btn-dark stretched-link">Go to Solution</a>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 18rem; min-width: 18rem;">
    <div class="card-header">Day 5</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Hydrothermal Venture</h5>
      <p class="card-text">You come across a field of hydrothermal vents on the ocean floor!</p>
      <a href="/exercise/5" class="btn btn-dark stretched-link">Go to Solution</a>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 18rem; min-width: 18rem;">
    <div class="card-header">Day 6</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Lanternfish</h5>
      <p class="card-text">The sea floor is getting steeper. Maybe the sleigh keys got carried this way?</p>
      <a href="/exercise/6" class="btn btn-dark stretched-link">Go to Solution</a>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 18rem; min-width: 18rem;">
    <div class="card-header">Day 7</div>
    <div class="card-body text-dark">
      <h5 class="card-title">The Treachery of Whales</h5>
      <p class="card-text">A giant whale has decided your submarine is its next meal.</p>
      <a href="/exercise/7" class="btn btn-dark stretched-link">Go to Solution</a>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 18rem; min-width: 18rem;">
    <div class="card-header">Day 8</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Seven Segment Search</h5>
      <p class="card-text">You notice that the four-digit seven-segment displays in your submarine are malfunctioning.
      </p>
      <a href="/exercise/8" class="btn btn-dark stretched-link">Go to Solution</a>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 18rem; min-width: 18rem;">
    <div class="card-header">Day 9</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Smoke Basin</h5>
      <p class="card-text">Small hydrothermal vents release smoke into the caves that slowly settles like rain.</p>
      <a href="/exercise/9" class="btn btn-dark stretched-link">Go to Solution</a>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 18rem; min-width: 18rem;">
    <div class="card-header">Day 10</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Syntax Scoring</h5>
      <p class="card-text">You ask the submarine to determine the best route out of the deep-sea cave.</p>
      <a href="/exercise/10" class="btn btn-dark stretched-link">Go to Solution</a>
    </div>
  </div>

  {% endblock %}